/* Основные стили проекта «Оно тебе надо» */

/* ---------- БАЗА ---------- */

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Raleway, Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

/* общий класс для адресов (и в хедере, и в футере) */

.address {
  max-width: 240px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

/* ---------- HEADER ---------- */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  font-size: 18px;
  line-height: 21px;
}

.header__links-list-item {
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  color: inherit;
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  display: block;
  width: 148px;
}

.header__logo-image {
  display: block;
  width: 100%;
}

.header__address {
  justify-self: end;
}

/* ---------- COVER ---------- */

.cover {
  position: relative;
  padding: 165px 50px 51px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  line-height: 115px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  margin-top: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;
}

/* ---------- LOTS ---------- */

.lots {
  padding: 179px 50px 181px;
}

.lots__heading {
  margin: 0 0 27px;
  padding-left: 40px;
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.lots__card-list-item {
  flex: 1 1 330px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card .overlay {
  z-index: 0;
}

.card__title {
  position: relative;
  z-index: 1;
  margin: 0 0 16px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.card__text {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
}

/* ---------- ABOUT ---------- */

.about {
  padding: 0 50px 180px;
  display: grid;
  grid-template-columns: 430px 1fr;
  column-gap: 25px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin: 100px 0 24px;
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.about__text p {
  margin: 0;
}

.about__text p + p {
  margin-top: 26px;
}

/* ---------- FOOTER ---------- */

.footer {
  padding: 0 50px 90px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: flex-start;
}

.footer__address {
  justify-self: start;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.footer__menu-list-item {
  font-size: 18px;
  line-height: 21px;
}

.footer__menu-link {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
}
